.searchdisplay {
    flex-direction: row;
    justify-content: center;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
  
  h1 {
    font-size: 6rem;
  }
  
  .container {
    flex-direction: row;
    width: 75%;
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
    display: flex;
  }
  
  .search-bar {
    justify-content: center;
    font-size: 1.25rem; 
    line-height: 1.25rem;
    font-weight: 300;
    border-radius: 25px;
    padding: 0.5rem;
    box-shadow: 3px 0px 8px silver;
    border: 0;
    outline: 0;
  }
  
  .icon {
    color: rgb(255 255 255);
    cursor: pointer;
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    margin-left: 0.5rem;
  }
  
  .icon:hover {
    transform: scale(1.2);
  }